@charset "utf-8";
body {
    background-image:url(pacote-d013/imagens/fundo-madeira.jpg);
    height: 500px;
}
img#celular {
   display: block;
   margin: auto;
   padding: auto;
  margin-top: 130px;
}
img#tela {
    display: block;
    margin: auto;
   padding: auto;
  height: 473px;
  margin-top: -548px;
 
  
}
li {
    
    text-align: right;
    margin-bottom: 20px;
}
ul img  {
    border-radius: 1000px;
    height: 55px;
   
}
ul {
    position: relative;
    bottom: 680px;
}

