@charset "utf-8";
@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf);
}
body {
background-color: rgba(14, 196, 111, 0.548);

}

img#robo {
display: block;
margin: auto;
padding: auto;

}
img#mulher {
    display: block;
    margin: auto;
    padding: auto;
    
    }
    img#robozin {
        display: block;
        margin: auto;
        padding: auto;
        
        }
        
    
article {
    
    background-color: green;
    width: 850px;
    padding: 0px;
    }

iframe
{
    display: block;
margin-left: auto;
margin-right: auto;
padding-top: 20px;
padding-bottom: 20px;
width: 700px;
height: 400px;
}


header {
text-align: center;
height: 200px;
background-image: linear-gradient( to bottom, rgb(45, 167, 45), rgba(18, 136, 18, 0.534));
margin-top: -8px;
margin-left: -11px;
margin-right: -11px;
box-shadow: 2px 3px 10px black;
}

main {

background-color: white;
width: 850px;
margin: auto;
text-align: justify;
border-radius: 0px 0px 30px 30px;
box-shadow: 1px 1px 5px black;

}

h1 {
    color: rgb(18, 116, 18);
font-size: 30px;
padding: 10px;
margin: 0px 0px 5px 0px;
font-family: idroid;
text-indent: 20px;
}
h2 {
    color: rgb(18, 116, 18);
    background-image: linear-gradient(to right,  rgba(64, 167, 64, 0.774), rgba(59, 151, 59, 0.322));
    font-family: idroid;
    text-indent: 13px;
}


.extra {
display: block;
color: white;
background-color: green;
width: 819px;
height: 42px;
margin: -9px;
border-radius: 20px 20px 0px 0px;
text-indent: 20px;


}

section#sec4 {
background-color: rgba(44, 190, 122, 0.541);
border-radius: 20px;
margin: 10px auto;
width: 800px;
}

section {
    padding: 10px;

}
p {
    padding: 10px;
    text-indent: 20px;
}
strong {
color: green;
background-color: rgba(65, 155, 65, 0.589);
}


.he {
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
color: white;
text-shadow: 1px 2px 2px black;
}

.hp {
font-family: Arial, Helvetica, sans-serif;
color: white;
text-shadow: 1px 2px 3px black;
}
nav#menu {
display: block;

}
nav#menu ul {

    list-style: none;
    position: absolute;
    top: 143px;
    left: -25px;
    
    }
    
    nav#menu li {
    
     display: inline-block;   
    color: white;
    padding: 10px;
    margin: 2px;
    border-radius: 10px ;
    }
    nav#menu li:hover {
background-color: rgba(255, 255, 255, 0.356);
transition: 0.5s;

    }
    nav#lista ul {
list-style: none;


    } 
.ulL {
display: block;
text-decoration: underline;


}
.ulR {
  
position: relative; 
display: block;
 float: right;
top: -145px;
left: -305px;
text-decoration: underline;
}

section#bt {
    position: relative;
bottom: 20px;    
}
footer {
color: white;
background-color: rgb(4, 48, 4);
text-align: center;
margin-right: -10px;
margin-left: -10px;
margin-top: 10px;
margin-bottom: -10px;
height: 30px;



}
a {
    text-decoration: none;
    color: rgb(5, 24, 5);
}
a:hover {
text-decoration: underline;

}